<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail Daily</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            fetchEmails();

            function fetchEmails() {
                $.get('/fetch_emails', function(data) {
                    data.forEach(email => {
                        $('#emails').append(`<li>${email.subject} - <button onclick="applyLabel('${email.id}', 'To-Review')">Apply 'To-Review'</button> - <button onclick="listenToSummary('${email.id}')">Listen to Summary</button></li>`);
                    });
                });
            }

            window.applyLabel = function(emailId, labelName) {
                $.post('/apply_label', JSON.stringify({email_id: emailId, label_name: labelName}), function() {
                    alert('Label applied');
                }).fail(function(response) {
                    alert(response.responseJSON.message);
                });
            }

            window.listenToSummary = function(emailId) {
                alert(emailId)
                $.post('/get_email_summary_audio', JSON.stringify({email_id: emailId}), function(data) {
                    // Create an audio element and play the summary audio
                    var audio = new Audio(URL.createObjectURL(data));
                    audio.play();
                }).fail(function(response) {
                    alert('Error occurred while fetching email summary audio.');
                });
            }
        });
    </script>
</head>
<body>
    <h1>Mail Daily</h1>
    <ul id="emails"></ul>
</body>
</html>
